h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%; /* Recomanded */
  max-width: 100%;
  height: auto; /* Recomanded */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
  max-width: 100%;
}
