<section id="about" class="about bg-wrap">
  <div class="container">
    <p class="pre-title-about">tradition and love</p>
    <h2 class="title-about">how it’s made?</h2>
    <div class="about-wrap">
      <picture class="about-img-wrap">
        <source
          srcset="
            ./images/about/about1-1x-des.png 1x,
            ./images/about/about1-2x-des.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/about/about1-1x-tab.png 1x,
            ./images/about/about1-2x-tab.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/about/about1-1x-mob.png 1x,
            ./images/about/about1-2x-mob.png 2x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/about/about1-1x-mob.png" alt="" />
      </picture>
      <div class="about-text-wrap">
        <p class="about-after-title">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="is-hidden"></p>
        <div class="input-wrap">
          <input type="checkbox" class="read-more-state" id="more" />

          <p class="about-text">
            Aliquam erat volutpat. Aenean accumsan.
            <span class="read-more-target"
              >Libero fuga facilis vel consectetur quos sapiente deleniti
              eveniet dolores tempore eos deserunt officia quis ab? Excepturi
              vero tempore minus beatae voluptatem!</span
            >
          </p>

          <label for="more" class="read-more-trigger"></label>
          <svg class="input-icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-more"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
