<!-- FOODPOINTS -->
<section class="section_foodpoints" id="contact">
  <div class="container">
    <h2 class="title"></h2>
    <ul class="ul card-contacts">
      <li class="card_item">
        <h3 class="title__food">CAFE</h3>
        <div class="city">
          <h4 class="city__title">Chicago</h4>
          <p class="city__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="work-week">
          <div class="work-days">
            <h4 class="title__days">Monday - Friday</h4>
            <p class="work__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="weekend">
            <h4 class="title__days">Saturday - Sunday</h4>
            <p class="work__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="mailphone">
          <a class="card__phone" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >
          <a class="card__mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="card_item">
        <h3 class="title__food">FOODTRUCK</h3>
        <div class="city">
          <h4 class="city__title">Los Angeles</h4>
          <p class="city__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="work-week">
          <div class="work-days">
            <h4 class="title__days">Monday - Friday</h4>
            <p class="work__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="weekend">
            <h4 class="title__days">Saturday - Sunday</h4>
            <p class="work__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="mailphone">
          <a class="card__phone" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >
          <a class="card__mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="card_item">
        <h3 class="title__food">CAFE</h3>
        <div class="city">
          <h4 class="city__title">New York</h4>
          <p class="city__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="work-week">
          <div class="work-days">
            <h4 class="title__days">Monday - Friday</h4>
            <p class="work__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="weekend">
            <h4 class="title__days">Saturday - Sunday</h4>
            <p class="work__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="mailphone">
          <a class="card__phone" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >
          <a class="card__mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <!-- BUTTONS -->
    <ul class="ul btn-foodpoints">
      <li class="btn-foodpoints__item">
        <button
          class="btn__locations button-foodpoints"
          data-modal-locations-open
          type="button"
        >
          <div class="button-foodpoints__text">Our Locations</div>
          <svg widht="20" height="20" class="button-foodpoints__icon">
            <use href="./images/sprite.svg#icon-more"></use>
          </svg>
        </button>
      </li>
      <li class="btn-foodpoints__item">
        <button
          class="btn__franchise button-foodpoints"
          data-modal-contacts-open
          type="button"
        >
          <div class="button-foodpoints__text">Franchise</div>
          <svg widht="20" height="20" class="button-foodpoints__icon">
            <use href="./images/sprite.svg#icon-more"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
<!-- MODAL  -locations -->
<div class="backdrop-locations is-hidden" data-modal-locations>
  <div class="modal-locations">
    <button class="button-contacts__close" data-modal-locations-close>
      <svg class="button-contacts-close__icon">
        <use href="./images/sprite.svg#icon-btn-close"></use>
      </svg>
    </button>
    <div class="maps_google">
      <h4 class="city__maps">Chicago</h4>
      <iframe
        class="goole_map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886258.0984946443!2d-86.15534928554631!3d43.26346452144356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1658840430711!5m2!1sru!2sua"
        height="200"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <h4 class="city__maps">Los Angeles</h4>
      <iframe
        class="goole_map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.27406581136!2d-118.69192119136831!3d34.02016130490777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1658842314721!5m2!1sru!2sua"
        height="200"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <h4 class="city__maps">New York</h4>
      <iframe
        class="goole_map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3059445135!2d-74.25986613799748!3d40.69714941774136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1658842401906!5m2!1sru!2sua"
        height="200"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
<!-- MODAL  Franchise -->
<div class="backdrop-contacts is-hidden" data-modal-contacts>
  <div class="modal-contacts">
    <button class="button-contacts__close" data-modal-contacts-close>
      <svg class="button-contacts-close__icon">
        <use href="./images/sprite.svg#icon-btn-close"></use>
      </svg>
    </button>
    <!-- modal form -->
    <form class="form-contacts">
      <div class="form-contacts__field">
        <b class="form-contacts__caption"
          >Leave your details, we will call you back</b
        >
        <label class="form-contacts__label--bottom" for="name">Name</label>
        <div class="form-contacts__label">
          <input class="form-contacts__input" type="text" name="name" />
          <svg class="form-contacts__icon">
            <use href="./images/sprite.svg#icon-user"></use>
          </svg>
        </div>
      </div>
      <div class="form-contacts__field">
        <label class="form-contacts__label--bottom" for="tel">Phone</label>
        <div class="form-contacts__label">
          <input class="form-contacts__input" type="phone" name="phone" />
          <svg class="form-contacts__icon">
            <use href="./images/sprite.svg#icon-phone2"></use>
          </svg>
        </div>
      </div>
      <div class="form-contacts__field">
        <label class="form-contacts__label--bottom" for="email">Mail</label>
        <div class="form-contacts__label">
          <input class="form-contacts__input" type="email" name="email" />
          <svg class="form-contacts__icon">
            <use href="./images/sprite.svg#icon-letter2"></use>
          </svg>
        </div>
      </div>

      <div class="form-contacts__field">
        <label class="form-contacts__label--bottom" for="comment">
          Comment</label
        >
        <textarea
          class="form-contacts__textarea"
          name="comment"
          id="comment"
          cols="30"
          rows="5"
          placeholder="Enter text"
        ></textarea>
      </div>
      <div class="check-contacts">
        <label class="check-contacts__label">
          <input class="check-contacts__input" type="checkbox" name="" />
          <svg class="check-contacts__icon">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="check-contacts__text">
            I agree with the newsletter and accept
            <a href=" " class="check-contacts__text--agree"
              >Terms of an agreement</a
            >
          </span>
        </label>
      </div>
      <button class="button-foodpoints__form" type="submit">Send</button>
    </form>
  </div>
</div>

<script src="./jscript/locations-modal.js"></script>
<script src="./jscript/contacts-modal.js"></script>
