<!-- FOODPOINTS -->
<section class="section_foodpoints">
  <div class="container">
    <h2 class="title"></h2>
    <ul class="ul card-contacts">
      <li class="card_item">
        <h3 class="title__food">CAFE</h3>
        <div class="city">
          <h4 class="city__title">Chicago</h4>
          <p class="city__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="work-week">
          <div class="work-days">
            <h4 class="title__days">Monday - Friday</h4>
            <p class="work__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="weekend">
            <h4 class="title__days">Saturday - Sunday</h4>
            <p class="work__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="mailphone">
          <a class="card__phone" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >
          <a class="card__mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="card_item">
        <h3 class="title__food">FOODTRUCK</h3>
        <div class="city">
          <h4 class="city__title">Los Angeles</h4>
          <p class="city__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="work-week">
          <div class="work-days">
            <h4 class="title__days">Monday - Friday</h4>
            <p class="work__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="weekend">
            <h4 class="title__days">Saturday - Sunday</h4>
            <p class="work__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="mailphone">
          <a class="card__phone" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >
          <a class="card__mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="card_item">
        <h3 class="title__food">CAFE</h3>
        <div class="city">
          <h4 class="city__title">New York</h4>
          <p class="city__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="work-week">
          <div class="work-days">
            <h4 class="title__days">Monday - Friday</h4>
            <p class="work__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="weekend">
            <h4 class="title__days">Saturday - Sunday</h4>
            <p class="work__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="mailphone">
          <a class="card__phone" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >
          <a class="card__mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <!-- BUTTONS -->
    <ul class="ul btn-foodpoints">
      <li class="btn-foodpoints__item">
        <button class="btn__locations button-foodpoints" type="button">
          <div class="button-foodpoints__text">Our Locations</div>
          <svg widht="20" height="20" class="button-foodpoints__icon">
            <use href="./images/sprite.svg#icon-more"></use>
          </svg>
        </button>
      </li>
      <li class="btn-foodpoints__item">
        <button
          class="btn__franchise button-foodpoints"
          data-modal-contacts-open
          type="button"
        >
          <div class="button-foodpoints__text">Franchise</div>
          <svg widht="20" height="20" class="button-foodpoints__icon">
            <use href="./images/sprite.svg#icon-more"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

<!-- MODAL -->
<div class="backdrop-contacts is-hidden" data-modal-contacts>
  <div class="modal-contacts">
    <button class="button button-contacts__close" data-modal-contacts-close>
      <svg class="button-close__icon">
        <use href="./images/sprite.svg#icon-btn-close"></use>
      </svg>
    </button>
    <!-- modal form -->
    <form class="form-contacts">
      <div class="form__field">
        <b class="form__caption">Оставьте свои данные, мы вам перезвоним</b>
        <label class="form__label--bottom" for="name">Имя</label>
        <div class="form__label">
          <input class="form__input" type="text" name="name" />
          <svg class="form__icon">
            <use href="./images/sprite.svg#icon-user"></use>
          </svg>
        </div>
      </div>
      <div class="form__field">
        <label class="form__label--bottom" for="tel">Телефон</label>
        <div class="form__label">
          <input class="form__input" type="phone" name="phone" />
          <svg class="form__icon">
            <use href="./images/sprite.svg#icon-phone2"></use>
          </svg>
        </div>
      </div>
      <div class="form__field">
        <label class="form__label--bottom" for="email">Почта</label>
        <div class="form__label">
          <input class="form__input" type="email" name="email" />
          <svg class="form__icon">
            <use href="./images/sprite.svg#icon-letter2"></use>
          </svg>
        </div>
      </div>

      <div class="form__field">
        <label class="form__label--bottom" for="comment"> Коментарий</label>
        <textarea
          class="form__textarea"
          name="comment"
          id="comment"
          cols="30"
          rows="5"
          placeholder="Введите текст"
        ></textarea>
      </div>
      <div class="check-contacts">
        <label class="check-contacts__label">
          <input class="check-contacts__input" type="checkbox" name="" />
          <svg class="check-contacts__icon">
            <use href="./images/sprite.svg#icon-checkmark"></use>
          </svg>
          <span class="check-contacts__text">
            Соглашаюсь с рассылкой и принимаю
            <a href=" " class="check-contacts__text--agree">Условия договора</a>
          </span>
        </label>
      </div>
      <button class="button-foodpoints__form" type="submit">Отправить</button>
    </form>
  </div>
</div>

<script src="./jscript/contacts-modal.js"></script>
