<article class="customer-reviews">
    <div class="container">

        <picture>
            <source srcset="/src/images/review-person.png 1x, /src/images/review-person-2x.png 2x" />
        <img class="customer-reviews__photo" src="/src/images/review-person.png" alt="review person" width="85"/>
        </picture>

        <div class="customer-reviews__box">
            <img class="customer-reviews__imageBackground" src="/src/images/review-field.png" alt="review person" />
            <img class="customer-reviews__imageBackgroundTable" src="/src/images/review-field-table.png" alt="review person" />
            <img class="customer-reviews__imageBackgroundDesctop" src="/src/images/review-field-desctop.png" alt="review person" />
            <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risis. Aliquam
                sem. In
                hendreit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>
            <img class="customer-reviews__image" src="/src/images/review-quotes.png" alt="review person" width="54" height="40" />
        </div>
        <div class="customer-reviews__point">
            <svg class="customer-reviews__point-small" width="4" height="4">
                <use href="/src/images/sprite.svg#icon-point-small"></use>
            </svg>
            <svg class="customer-reviews__point-small" width="4" height="4">
                <use href="/src/images/sprite.svg#icon-point-small"></use>
            </svg>
            <svg class="customer-reviews__point-small" width="4" height="4">
                <use href="/src/images/sprite.svg#icon-point-small"></use>
            </svg>
        </div>

        <div class="customer-reviews__adress">
            <p> Emily, Los Angeles </p>
        </div>

        <div class="customer-reviews__home-point">
            <svg class="customer-reviews__point-big customer-reviews__point-big--current" width="12.4" height="11.84">
                <use href="/src/images/sprite.svg#icon-home"></use>
            </svg>
            <svg class="customer-reviews__point-big" width="12" height="12">
                <use href="/src/images/sprite.svg#icon-point-big"></use>
            </svg>
            <svg class="customer-reviews__point-big" width="12" height="12">
                <use href="/src/images/sprite.svg#icon-point-big"></use>
            </svg>
        </div>

    </div>
</article>