<section class="customer-reviews">
    <div class="container container-reviews">
        <h2 class="visually-hidden">customer-reviews</h2>
        <div class="review-box swiper">
            <div class="review-box__wrapper swiper-wrapper">
                <div class="review-box__container swiper-slide">
                    <div class="review-box__img-box">
                        <img src="./images/customer-reviews/author-1.webp" alt="author-1" class="review-box__img-customer" />
                    </div>
                    <div class="review-box__wrap">
                        <blockquote class="review-box__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </blockquote>
                    </div>
                    <div class="review-box__point">
                        <svg class="review-box__point-small" width="4" height="4">
                            <use href="/src/images/sprite.svg#icon-point-small"></use>
                        </svg>
                        <svg class="review-box__point-small" width="4" height="4">
                            <use href="/src/images/sprite.svg#icon-point-small"></use>
                        </svg>
                        <svg class="review-box__point-small" width="4" height="4">
                            <use href="/src/images/sprite.svg#icon-point-small"></use>
                        </svg>
                    </div>
                    <p class="review-box__author">Emily, Los Angeles</p>
                </div>
                <div class="review-box__container swiper-slide">
                    <div class="review-box__img-box">
                        <img src="./images/customer-reviews/author-2.webp" alt="author-2" class="review-box__img-customer" />
                    </div>
                    <div class="review-box__wrap">
                        <blockquote class="review-box__text">
                            Summer for me is not only time for vacations, but also for eating various delicious ice cream. And when else to eat it,
                            if not in the summer?! I can safely eat it in the winter, but in the summer it’s still more.
                        </blockquote>
                    </div>
                    <div class="review-box__point">
                        <svg class="review-box__point-small" width="4" height="4">
                            <use href="/src/images/sprite.svg#icon-point-small"></use>
                        </svg>
                        <svg class="review-box__point-small" width="4" height="4">
                            <use href="/src/images/sprite.svg#icon-point-small"></use>
                        </svg>
                        <svg class="review-box__point-small" width="4" height="4">
                            <use href="/src/images/sprite.svg#icon-point-small"></use>
                        </svg>
                        
                    </div>
                    <p class="review-box__author">Sara, Chicago</p>
                </div>
                <div class="review-box__container swiper-slide">
                    <div class="review-box__img-box">
                        <img src="./images/customer-reviews/author-3.webp" alt="author-3" class="review-box__img-customer" />
                    </div>
                    <div class="review-box__wrap">
                        <blockquote class="review-box__text">
                            The taste is very pleasant, delicate, creamy. Ice cream is moderately sweet, after it, oddly enough, you don’t want to
                            cling to a bottle of water so much to drown out the sweetness. All very balanced.
                        </blockquote>
                    </div>
                    <div class="review-box__point">
                        <svg class="review-box__point-small" width="4" height="4">
                            <use href="/src/images/sprite.svg#icon-point-small"></use>
                        </svg>
                        <svg class="review-box__point-small" width="4" height="4">
                            <use href="/src/images/sprite.svg#icon-point-small"></use>
                        </svg>
                        <svg class="review-box__point-small" width="4" height="4">
                            <use href="/src/images/sprite.svg#icon-point-small"></use>
                        </svg>
                    </div>
                    <p class="review-box__author">Aisha, Boston</p>
                </div>
            
            </div>
            <div class="customer-reviews__pagination swiper-pagination"></div>
        </div>
    </div>
</section>