<footer class="footer">
    <div class="container container__footer">
        <div class="footer__title">
            <p class="footer__title--small">homemade ice cream made</p>
            <strong class="footer__title--big">with passion</strong>
        </div>
        <div class="footer__contacts">
            <ul class="list social-list">
                <li class="social-list__item">
                    <a class="social-link" href="https://github.com/" target="_blank" rel="noreferrer noopener">
                        <svg class="social-link__icon" width="20" height="20">
                            <use href="images/sprite.svg#icon-git"></use>
                        </svg>
                       
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-link" href="https://telegram.org/" target="_blank" rel="noreferrer noopener">
                        <svg class="social-link__icon" width="20" height="16">
                            <use href="images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-link" href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener">
                        <svg class="social-link__icon" width="9" height="20">
                            <use href="images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="call">
                <strong class="call__text">Feel free to contact</strong>
                <a class="call__number" href="tel:+610383766284">+61 (0) 383 766 284</a>
            </div>
        </div>
    </div>
    <div class="rights-reserved">
        <p class="rights-reserved__text"> &copy; 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>