<section class="gallery">
  <div class="container">
    <h2 class="gallery-title visually-hidden">Gallery</h2>
    <ul class="list gallery-list">
      <li
        class="gallery-item"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="400"
      >
        <div class="gallery-overflow">
          <picture>
            <source
              srcset="
                ./images/gallery-desctop/gallery-desctop-1-1x.jpg 1x,
                ./images/gallery-desctop/gallery-desctop-1-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery-tablet/gallery-tab-1-1x.jpg 1x,
                ./images/gallery-tablet/gallery-tab-1-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery-mob/gallery-mob-1-1x.jpg 1x,
                ./images/gallery-mob/gallery-mob-1-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/gallery-mob/gallery-mob-1-1x.jpg"
              alt="Ice cream on a stick"
              width="44"
            />
          </picture>
        </div>
      </li>
      <li
        class="gallery-item"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-delay="400"
        data-aos-duration="400"
      >
        <div class="gallery-overflow">
          <picture>
            <source
              srcset="
                ./images/gallery-desctop/gallery-desctop-2-1x.jpg 1x,
                ./images/gallery-desctop/gallery-desctop-2-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery-tablet/gallery-tab-2-1x.jpg 1x,
                ./images/gallery-tablet/gallery-tab-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery-mob/gallery-mob-2-1x.jpg 1x,
                ./images/gallery-mob/gallery-mob-2-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/gallery-mob/gallery-mob-2-1x.jpg"
              alt="Ice cream cone"
              width="44"
            />
          </picture>
        </div>
        <div class="gallery-overflow">
          <picture>
            <source
              srcset="
                ./images/gallery-desctop/gallery-desctop-3-1x.jpg 1x,
                ./images/gallery-desctop/gallery-desctop-3-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery-tablet/gallery-tab-3-1x.jpg 1x,
                ./images/gallery-tablet/gallery-tab-3-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery-mob/gallery-mob-3-1x.jpg 1x,
                ./images/gallery-mob/gallery-mob-3-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/gallery-mob/gallery-mob-3-1x.jpg"
              alt="Berry ice cream"
              width="44"
            />
          </picture>
        </div>
      </li>
      <li
        class="gallery-item gallery-grid"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-delay="800"
        data-aos-duration="400"
      >
        <div class="box1">
          <div class="gallery-overflow">
            <picture>
              <source
                srcset="
                  ./images/gallery-desctop/gallery-desctop-4-1x.jpg 1x,
                  ./images/gallery-desctop/gallery-desctop-4-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/gallery-tablet/gallery-tab-4-1x.jpg 1x,
                  ./images/gallery-tablet/gallery-tab-4-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/gallery-mob/gallery-mob-4-1x.jpg 1x,
                  ./images/gallery-mob/gallery-mob-4-2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./images/gallery-mob/gallery-mob-4-1x.jpg"
                alt="Ice cream cones with berries"
                width="90"
              />
            </picture>
          </div>
        </div>
        <div class="box2">
          <div class="gallery-overflow">
            <picture>
              <source
                srcset="
                  ./images/gallery-desctop/gallery-desctop-5-1x.jpg 1x,
                  ./images/gallery-desctop/gallery-desctop-5-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/gallery-tablet/gallery-tab-5-1x.jpg 1x,
                  ./images/gallery-tablet/gallery-tab-5-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/gallery-mob/gallery-mob-5-1x.jpg 1x,
                  ./images/gallery-mob/gallery-mob-5-2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./images/gallery-mob/gallery-mob-5-1x.jpg"
                alt="Girl with ice cream"
                width="44"
              />
            </picture>
          </div>
        </div>
      </li>
      <li
        class="gallery-item"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-delay="1200"
        data-aos-duration="400"
      >
        <div class="gallery-overflow">
          <picture>
            <source
              srcset="
                ./images/gallery-desctop/gallery-desctop-6-1x.jpg 1x,
                ./images/gallery-desctop/gallery-desctop-6-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery-tablet/gallery-tab-6-1x.jpg 1x,
                ./images/gallery-tablet/gallery-tab-6-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery-mob/gallery-mob-6-1x.jpg 1x,
                ./images/gallery-mob/gallery-mob-6-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/gallery-mob/gallery-mob-6-1x.jpg"
              alt="Ice cream dessert"
              width="44"
            />
          </picture>
        </div>
        <div class="gallery-overflow">
          <picture>
            <source
              srcset="
                ./images/gallery-desctop/gallery-desctop-7-1x.jpg 1x,
                ./images/gallery-desctop/gallery-desctop-7-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery-tablet/gallery-tab-7-1x.jpg 1x,
                ./images/gallery-tablet/gallery-tab-7-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery-mob/gallery-mob-7-1x.jpg 1x,
                ./images/gallery-mob/gallery-mob-7-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/gallery-mob/gallery-mob-7-1x.jpg"
              alt="Ice cream in hand outside"
              width="44"
            />
          </picture>
        </div>
      </li>
      <li
        class="gallery-item"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-delay="1600"
        data-aos-duration="400"
      >
        <div class="gallery-overflow">
          <picture>
            <source
              srcset="
                ./images/gallery-desctop/gallery-desctop-8-1x.jpg 1x,
                ./images/gallery-desctop/gallery-desctop-8-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery-tablet/gallery-tab-8-1x.jpg 1x,
                ./images/gallery-tablet/gallery-tab-8-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery-mob/gallery-mob-8-1x.jpg 1x,
                ./images/gallery-mob/gallery-mob-8-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/gallery-mob/gallery-mob-8-1x.jpg"
              alt="The dog tastes the ice cream"
              width="44"
            />
          </picture>
        </div>
        <div class="gallery-overflow">
          <picture>
            <source
              srcset="
                ./images/gallery-desctop/gallery-desctop-9-1x.jpg 1x,
                ./images/gallery-desctop/gallery-desctop-9-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery-tablet/gallery-tab-9-1x.jpg 1x,
                ./images/gallery-tablet/gallery-tab-9-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery-mob/gallery-mob-9-1x.jpg 1x,
                ./images/gallery-mob/gallery-mob-9-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/gallery-mob/gallery-mob-9-1x.jpg"
              alt="Chocolate cocktail"
              width="44"
            />
          </picture>
        </div>
      </li>
      <li
        class="gallery-item"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-delay="2000"
        data-aos-duration="400"
      >
        <div class="gallery-overflow">
          <picture>
            <source
              srcset="
                ./images/gallery-desctop/gallery-desctop-10-1x.jpg 1x,
                ./images/gallery-desctop/gallery-desctop-10-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery-tablet/gallery-tab-10-1x.jpg 1x,
                ./images/gallery-tablet/gallery-tab-10-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery-mob/gallery-mob-10-1x.jpg 1x,
                ./images/gallery-mob/gallery-mob-10-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/gallery-mob/gallery-mob-10-1x.jpg"
              alt="Cake on a bottle with milk"
              width="44"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
