<header class="page-header">
  <div class="container">
    <nav class="nav">
      <a href="" class="logo linlk">
        <svg class="logo-icon" width="199" height="50">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav__menu">
        <li class="menu__item">
          <a href="" class="menu__link link current">Home</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">About us</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">How it’s made?</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">Our products</a>
        </li>
        <li class="menu__item">
          <a href="#contact" class="menu__link link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-open-btn">
      <svg class="mob-menu-icon" width="22" height="12">
        <use href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <button type="button" class="button-buy">
      Buy now
      <svg class="arrow-buy" width="10" height="16">
        <use href="./images/sprite.svg#icon-arrow-forward"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu visually-hidden">
    <div class="container">
      <button type="button" class="menu-close-btn">
        <svg class="mob-menu-close-icon" width="15" height="15">
          <use href="./images/sprite.svg#close-icon"></use>
        </svg>
      </button>
      <button type="button" class="mob-button-buy">
        Buy now
        <svg class="arrow-buy" width="10" height="16">
          <use href="./images/sprite.svg#icon-arrow-forward"></use>
        </svg>
      </button>
      <ul class="mob-menu-nav">
        <li class="mob-menu__item">
          <a href="" class="mob-menu__link link current">Home</a>
        </li>
        <li class="mob-menu__item">
          <a href="" class="mob-menu__link link">About us</a>
        </li>
        <li class="mob-menu__item">
          <a href="" class="mob-menu__link link">How it’s made?</a>
        </li>
        <li class="mob-menu__item">
          <a href="" class="mob-menu__link link">Our products</a>
        </li>
        <li class="mob-menu__item">
          <a href="" class="mob-menu__link link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
