<div class="header-backdrop">
    <div class="header-modal">
        <button type="button" class="header-modal__button"></button>
        <h2 class="header-modal__title">Buy now</h2>
        <p class="header-modal__text">sale -50% on second</p>
        <ul class="header-list">
            <li class="header-list__item">
                <h3 class="header-list__title">Ice cream</h3>
                <div class="box-container">
                    <button type="button" class="header-list__button"></button>
                    <div class="header-list__box"><span class="header-list__text"></span></div>
                    <button type="button" class="header-list__button--right"></button>
                </div>
            </li>
            <li class="header-list__item">
                <h3 class="header-list__title">Ice cream</h3>
                <div class="box-container">
                    <button type="button" class="header-list__button"></button>
                    <div class="header-list__box"><span class="header-list__text"></span></div>
                    <button type="button" class="header-list__button--right"></button>
                </div>
            </li>
            <li class="header-list__item">
                <h3 class="header-list__title">Ice cream</h3>
                <div class="box-container">
                    <button type="button" class="header-list__button"></button>
                    <div class="header-list__box"><span class="header-list__text"></span></div>
                    <button type="button" class="header-list__button--right"></button>
                </div>
            </li>
        </ul>
        <form>
            <div class="form-field">
                <label for="user-name">Name:</label>
                <input class="form-field__input" type="text" id="user-name" placeholder="Elis">
                <label for="user-name">Name:</label>
                <input class="form-field__input" type="text" id="user-name" placeholder="Elis">
                <button type="button" class="button">Order</button>
            </div>
        </form>
    </div>
</div>