<section class="hero">
        <div class="container">
            <div class="circle" width="346" height="344">
                <div class="hero-image">
                    <img src="./images/icecream-hero-mob.png" alt="ice cream" width="171"/>
                </div>
            </div>
            <div class="content">
                <h1 class="hero-title">
                    ice cream made with <span class="title-accent">passion</span>
                </h1>
                <ul class="hero-list list">
                    <li class="hero-item">
                        <button class="product-btn">Products</button>
                    </li>
                    <li class="hero-item">
                        <button class="made-btn">How it’s made?</button>
                    </li>
                </ul>
            </div>
        </div>
    </section>