<section class="products">
  <div class="container">
    <p class="products__label" id="products-section">100% natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="sweetlist">
      <li class="sweetlist__item">
        <h3 class="sweetlist__title-icecream sweetlist__title">ice cream</h3>
        <p class="sweetlist__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="sweetlist-button">
          <svg class="sweetlist-button__icon" width="11" height="10">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="sweetlist__box box--icecream"></div>
      </li>
      <li class="sweetlist__item">
        <h3 class="sweetlist__title-icecoffee sweetlist__title">ice coffee</h3>
        <p class="sweetlist__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="sweetlist-button">
          <svg class="sweetlist-button__icon" width="11" height="10">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="sweetlist__box box--icecoffee"></div>
      </li>
      <li class="sweetlist__item">
        <h3 class="sweetlist__title-milkshakes sweetlist__title">milkshakes</h3>
        <p class="sweetlist__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="sweetlist-button">
          <svg class="sweetlist-button__icon" width="11" height="10">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="sweetlist__box box--milkshakes"></div>
      </li>
    </ul>
  </div>
</section>
