.about {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  background: var(--second-bg-color);
  background-image: url(../images/about/bg-milk.png);
  background-size: 280px 133px;
  background-position: center 597px;
  background-repeat: no-repeat;
  @include tablet {
    background-image: none;
  }
  @include desktop {
    background-image: url(../images/about/bg-milk-des.png);
    background-repeat: no-repeat;
    background-size: 1200px 521px;
    background-position: center 236px;
  }
}

.about-wrap {
  @include tablet {
    display: flex;
    gap: 32px;
  }
  @include desktop {
    gap: 99px;
  }
}

.pre-title-about {
  font-family: 'Titan one', raleway;
  font-size: 18px;
  line-height: calc(21 / 18);
  text-align: center;
  text-transform: uppercase;
  color: var(--pre-title-color);
  margin-bottom: 15px;
  @include tablet {
    font-size: 26px;
    line-height: calc(30 / 26);
  }
  @include desktop {
    font-size: 30px;
    line-height: calc(34 / 30);
    letter-spacing: 0.04em;
  }
}

.title-about {
  font-family: 'Titan one', raleway;
  font-weight: 400;
  font-size: 34px;
  line-height: calc(39 / 34);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 32px;
  @include tablet {
    font-size: 48px;
    line-height: calc(55 / 48);
    margin-bottom: 40px;
  }
  @include desktop {
    font-size: 58px;
    line-height: calc(66 / 58);
    letter-spacing: 0.06em;
    margin-bottom: 60px;
  }
}

.about-img-wrap {
  width: 280px;
  height: 279px;
  @include tablet {
    width: 336px;
    height: 335px;
  }
  @include desktop {
    width: 501px;
    height: 501px;
  }
  transition: transform 550ms ease;
  &:hover {
    transform: scale(1.1);
    @include tablet {
      transform: scale(1.2);
    }
    @include desktop {
      transform: scale(1.15);
    }
  }
}

.about-text-wrap {
  font-weight: 500;
  padding-top: 40px;
  text-align: left;
  padding-right: 60px;
  // width: 220px;
  @include tablet {
    width: 334px;
    padding: 0;
  }
  @include desktop {
    width: 463px;
    padding-top: 90px;
  }
}

.about-after-title {
  font-size: 12px;
  line-height: calc(19 / 12);
  margin-bottom: 24px;
  @include tablet {
    font-size: 14px;
    line-height: calc(25 / 14);
  }
  @include desktop {
    font-size: 16px;
    line-height: calc(28 / 16);
    letter-spacing: 0.04em;
    margin-bottom: 32px;
  }
}

.about-text {
  font-size: 12px;
  line-height: calc(19 / 12);
  color: var(--second-text-color);
  margin-bottom: 10px;
  @include tablet {
    font-size: 14px;
    line-height: calc(25 / 14);
    margin-bottom: 10px;
  }
  @include desktop {
    font-size: 14px;
    line-height: calc(27 / 14);
    letter-spacing: 0.04em;
    margin-bottom: 20px;
  }
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: var(--prime-tansition-timing) ease;
}

.read-more-state:checked ~ .about-text .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
}

.read-more-trigger {
  width: 176px;
  height: 44px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: 0.06em;
  color: var(--accent-color);
  background: var(--white-color);
  cursor: pointer;
  border-radius: 22px;
  padding: 0 37px;
  margin-right: 10px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  transition: background-color var(--prime-tansition-timing)
      var(--prime-animation),
    color var(--prime-tansition-timing) var(--prime-animation);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

.input-wrap {
  position: relative;
  .about-text {
    margin-bottom: 20px;
  }

  @include tablet {
    .about-text {
      margin-bottom: 40px;
    }
  }
}

.input-icon {
  position: absolute;
  left: 133px;
  width: 7px;
  height: 14px;
  fill: var(--accent-color);
  transform: translateY(-200%);
  .read-more-trigger:hover + &,
  .read-more-trigger:focus + & {
    fill: var(--white-color);
  }
}
