.footer {
  background-color: var(--second-bg-color);
}
.container__footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  padding-bottom: 40px;
  @include tablet {
    flex-direction: row;
    max-width: 768px;
  }
}
.footer__title {
  width: 234px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 40px;
  @include tablet {
    width: 340px;
    margin-bottom: 0;
    margin-right: auto;
  }
}
.footer__title--small {
  margin-bottom: 16px;

  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;

  color: var(--pre-title-color);
  @include tablet {
    margin-bottom: 12px;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }
}
.footer__title--big {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--title-color);
  @include tablet {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }
}
.footer__cotacts {
  padding-bottom: 40px;
}
.social-list {
  display: flex;
  justify-content: flex-end;
  gap: 28px;

  margin-bottom: 40px;
  @include tablet {
    padding-top: 60px;
  }
}
.social-list__item {
  width: 32px;
  height: 32px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #fea5bb;

  transition: background-color var(--prime-tansition-timing)
    var(--prime-animation);

  fill: var(--white-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.call {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8;

  text-align: right;

  @include tablet {
    font-size: 14px;
    line-height: 1.9;
  }
}

.call__text {
  color: var(--primary-text-color);
}
.call__number {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--title-color);
  text-decoration: none;

  transition: color var(--prime-tansition-timing) var(--prime-animation);

  &:hover,
  &:focus {
    color: var(--second-text-color);
  }
}
.rights-reserved {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 3px;

  border-top: 1px solid #e1e1e1;
  @include tablet {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.rights-reserved__text {
  width: 135px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;

  color: var(--second-text-color);
  @include tablet {
    width: auto;
  }
}
