.page-header {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 8px;
  @include tablet {
    max-width: 768px;
    padding: 32px 0 0 0;
  }
  @include desktop {
    max-width: 1200px;
    padding: 32px 0 0 0;
  }

  & .container {
    display: flex;
    align-items: center;
  }
}

.nav {
  display: flex;
  align-items: center;
  @include desktop {
    width: 100%;
    justify-content: space-between;
  }
}

.nav__menu {
  display: none;
  @include desktop {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.menu__item {
  margin-right: 35px;
}
.menu__link {
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  &_link.current {
    color: var(--accent-color);
  }
}

.menu-open-btn {
  display: block;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  @include desktop {
    max-width: 1200px;
    display: none;
    border: none;
  }
}

.button-buy {
  &:hover,
  &:focus {
    background-color: #ecebeb;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  display: none;
  @include tablet {
    max-width: 768px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 160px;
    height: 44px;
    margin-left: 32px;
    color: var(--accent-color);
    background-color: var(--bg-color);
    border-radius: 22px;
    border: none;
  }
  @include desktop {
    max-width: 1200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 160px;
    height: 44px;
    color: var(--accent-color);
    background-color: var(--bg-color);
    border-radius: 22px;
    border: none;
  }
}
