
.container-hero {
    padding: 0;
}

.circle {
    width: 346px;
	height: 346px;
    margin-left: auto;
    margin-right: auto;
	background: #FFA5BA;
	border-radius: 50%;
    @media screen and (min-width: 768px) {
        top: 43px;
        width: 335px;
        height: 333px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 1200px){
        width: 534px;
        height: 534px;
        margin-left: 501px;
    }
}

.hero-content {
    background-color: #FFB8CA;
    padding-top: 83px;
    position: relative;
    overflow: hidden;
    height: 502px;
    padding-left: 36px;
    @media screen and (min-width: 768px){
        padding-top: 43px;
        padding-left: 52px;
        height: 416px;
    }
    @media screen and (min-width: 1200px){
        height: 664px;
        padding-left: 16px;
        padding-top: 54px;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
}


.hero {
    background-color: #FFB8CA;
    max-width: 100%;
}

.hero-title {
    font-family: titan one;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    width: 218px;
    @media screen and (min-width: 768px){
        font-size: 22px;
        width: 162px;
    }
    @media screen and (min-width: 1200px){
        font-size: 38px;
        width: 277px;
    }
}

.content {
    position: absolute;
    top: 194px;
    left: 20px;
    width: 218px;
    @media screen and (min-width: 768px) {
        top: 102px;
        left: 32px;
    }
    @media screen and (min-width: 1200px){
        top: 147px;
        left: 16px;
    }
}

.hero-list {
    display: flex;
    margin-top: 20px;
    @media screen and (min-width: 768px){
        margin-bottom: 20px;
    }
    
}

.title-accent {
    font-size: 46px;
    font-weight: 400;
    color: #D41443;
    @media screen and (min-width: 768px){
        font-size: 34px;
        line-height: 0.91;
    }
    @media screen and (min-width: 1200px){
        font-size: 58px;
        letter-spacing: 0.04em;
        width: 277px;
    }
    
}

.product-btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 23.63px;
    border-radius: 20px;
    width: 62.24px;
    height: 24px;
    background-color: #D41443;
    font-family: DM Sans;
    color: #ffffff;
    font-size: 8px;
    line-height: 1.25;
    transition: transform 550ms ease;
    &:hover {
        transform: scale(1.1);
    }
    &:focus {
        transform: scale(1.1);
    }
    @media screen and (min-width: 1200px){
        font-size: 14px;
        line-height: 1.29;
        width: 107px;
        height: 40px;
        
    }
}

.made-btn-link {
    font-family: DM Sans;
    color: #D41443;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    line-height: 1.25;
    padding: 12px 10px;
    width: 82.8px;
    height: 24px;
    border-radius: 20px;
    background-color: #FFFFFF;
    transition: background-color 550ms linear, transform 550ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: #ECEBEB;
        transform: scale(1.1);
    }
    &:focus {
        background-color: #ECEBEB;
        transform: scale(1.1);
    }
    @media screen and (min-width: 1200px){
        width: 138px;
        height: 40px;
        font-size: 14px;
        line-height: 1.29;
        
    }
}

.hero-item {
    margin-right: 8px;
    @media screen and (min-width: 1200px){
        margin-right: 12px;
    }
}

.hero-image {
    position: absolute;
    margin-top: 9px;
    margin-left: 81px;
    @media screen and (min-width: 768px){
        margin-top: 37px;
        margin-left: 74px;

    }
    @media screen and (min-width: 1200px){
        margin-top: 54px;
        margin-left: 119px;
    }
}

.hero-milk {
    display: flex;
    
}

.hero-milk-img {
    display: none;
    @media screen and (min-width: 768px){
    display: block;
    position: absolute;
    bottom: 16px;
    left: 32px;
    }
    @media screen and (min-width: 1200px){
        bottom: 60px;
        left: 16px;
    }
}

.hero-milk-text{
    display: none;
    @media screen and (min-width: 768px){
    display: block;
    position: absolute;
    width: 114px;
    height: 48px;
    left: 184px;
    bottom: 81px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
    }
    @media screen and (min-width: 1200px){
        font-size: 14px;
        line-height: 1.4;
        width: 200px;
        height: 78px;
        left: 229px;
        bottom: 130px;
    }
}

.hero-girl {
    display: none;
    @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 32px;
    }
    @media screen and (min-width: 1200px){
        right: 16px;
    }

}



.hero-number-info {
    display: none;
    @media screen and (min-width: 768px){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 92px;
    right: 32px;
}
@media screen and (min-width: 1200px){
        top: 152px;
        right: 16px;
    }
}

.hero-button {
        display: none;
    @media screen and (min-width: 768px){
        display: block;
        position: absolute;
        bottom: 56px;
        left: 184px;
        fill: #d41443;
        border: none;
        padding: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        transition: background-color 250ms var(--prime-animation),
    fill 250ms var(--prime-animation), filter 250ms var(--prime-animation);
                &:hover,
                &:focus {
                    fill: #ffffff; // rgb(255, 0, 0);
                    background-color: #d41443; // #ffa5ba; //#ecebeb;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }

    @media screen and (min-width: 1200px){
        bottom: 84px;
        left: 229px;
        width: 26px;
        height: 26px;
        transition: background-color 250ms var(--prime-animation),
                    fill 250ms var(--prime-animation), filter 250ms var(--prime-animation);
                &:hover,
                &:focus {
                    fill: #ffffff; // rgb(255, 0, 0);
                    background-color: #d41443; // #ffa5ba; //#ecebeb;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
    } 
}
}

.number-cafe {
font-family: 'Titan One';
text-transform: uppercase;
position: absolute;
text-align: right;
letter-spacing: 0.04em;
color: #D41443;
    @media screen and (min-width: 768px){
    font-size: 28px;
    line-height: 1.14;
    }
    @media screen and (min-width: 1200px){
        font-size: 46px;
        line-height: 1.15;
    
    }
}


.number-text {
    display: block;
    position: relative;
    font-family: 'DM Sans';
    text-align: right;
    text-transform: lowercase;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    @media screen and (min-width: 768px){
        font-size: 8px;
        line-height: 1.25; 
    }
    @media screen and (min-width: 1200px){
        font-size: 14px;
        line-height: 1.28; 
    }
    
}

.number {
    display: none;
    position: absolute;
        @media screen and (min-width: 768px){
            display: block;
            z-index: 2;
            width: 43px;
            height: 44px;
            top: 92px;
            right: 18px;

        }
        @media screen and (min-width: 1200px){
            display: block;
            z-index: 2;
            width: 72px;
            height: 78px;
            top: 152px;
            right: 16px;

        }

}

.number-cafe::after {
    display: block;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #FFFFFF;  
    z-index: -1;
    @media screen and (min-width: 768px) {
            width: 15px;
            height: 15px;
            top: -3;
            left: 24px;
    }
    @media screen and (min-width: 1200px) {
            top: -4;
            right: 1;
            width: 30px;
            height: 30px;
            left: 45px;
    }

}


.number-trucks {
    display: flex;
    z-index: 2;
    width: 92px;
    height: 76px;
}

.trucks {
    display: none;
    position: absolute;
        @media screen and (min-width: 768px){
            display: block;
            z-index: 2;
            width: 92px;
            height: 76px;
            top: 152px;
            right: 26px;
        }
        @media screen and (min-width: 1200px){
            display: block;
            z-index: 2;
            width: 92px;
            height: 76px;
            top: 244px;
            right: 26px;
        }
}

.number-trucks {
    font-family: 'Titan One';
position: relative;
display: block;
letter-spacing: 0.04em;
text-transform: uppercase;
text-align: right;
color: #D41443;
@media screen and (min-width: 768px){
        font-size: 28px;
        line-height: 1.14;
}
    @media screen and (min-width: 1200px){
        font-size: 46px;
        line-height: 1.15;
    }
} 

.number-trucks-text {
    display: block;
    font-family: 'DM Sans';
    text-transform: lowercase;
    letter-spacing: 0.04em;

    color: #FFFFFF; 
    @media screen and (min-width: 768px){
    font-size: 8px;
    line-height: 1.15;
}
    @media screen and (min-width: 1200px){
        font-size: 14px;
        line-height: 1.28;
    }
}

.number-trucks::after {
    position: absolute;
    display: block;
    content: "";
    border-radius: 50%;
    background-color: #FFFFFF;  
    z-index: -1;
    @media screen and (min-width: 768px) {
            width: 15px;
            height: 15px;
            top: -1;
            left: 80px;
    }
    @media screen and (min-width: 1200px) {
            width: 30px;
            height: 30px;
            left: 75px;
            top: -5;

    }


}
// .trucks-text {
//     display: block;
//     width: 51px;
//     font-family: 'DM Sans';
//     font-style: normal;
//     font-weight: 400;
//     justify-content: center;
//     font-size: 14px;
//     line-height: 1.28px;
//     justify-content: center;
//     text-transform: lowercase;
//     letter-spacing: 0.04em;
//     margin-top: 6px;

//     color: #FFFFFF; 
// }

// .number {
//     display: flex;
//     position: relative;
//     z-index: 2;
//     width: 72px;
//     height: 77px;

// }

// .number-cafe {
// font-family: 'Titan One';
// font-size: 46px;
// line-height: 1.15px;
// text-align: right;
// letter-spacing: 0.04em;
// text-transform: uppercase;

// color: #D41443;
// }

// .number-text {
//     display: block;
//     font-family: 'DM Sans';
//     font-size: 14px;
//     line-height: 1.28;
//     text-align: right;
//     color: #FFFFFF;
//     }

//     .number-text::before {
//     display: block;
//     content: "";
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     background-color: #FFFFFF;  
//     position: absolute;
//     z-index: -1;
//     left: 48px;
// }



